<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>766627640600-f7v20nuuhj51hrt1v32vnhfa4c4mjib2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766627640600-f7v20nuuhj51hrt1v32vnhfa4c4mjib2</string>
	<key>API_KEY</key>
	<string>AIzaSyDGC6pwmcnSf8Fz-SvP6uqH3CR2HfGTeD0</string>
	<key>GCM_SENDER_ID</key>
	<string>766627640600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AdamsApps.Pensieve-AR</string>
	<key>PROJECT_ID</key>
	<string>pensieve-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>pensieve-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766627640600:ios:a1d00d29735dfe52</string>
	<key>DATABASE_URL</key>
	<string>https://pensieve-ar.firebaseio.com</string>
</dict>
</plist>